/* sass goes here */
@import "variables";
@import "reset";
@import "fontAwesome";

%clearfix {
    &::before, &::after {
        content: '';
        display: block;
        clear: both;
    }
}

@mixin content($sides){
    padding: 75px $sides;
}

.floats {
    
    .utilnav {
        @extend %clearfix;
        background-image: url('../img/patt1.png');
        h1 {
            float: left;
            color: $logocolor;
            margin-bottom: 0;
        }
        ul {
            float: right;
        }
        li {
            display: inline-block;
            float: left;
            i {
                float: left;
                margin: 0 10px;
                font-size: 2em;
                color: $compcolor;
            }
            div {
                float: left;
            }
        }
    }
    nav {
        background-color: $black;
        color: $white;
        li {
            display: inline-block;
            font-size: 1.1em;
            font-weight: 100;
            
            text-transform: uppercase;
            &:hover {
                background-color: $keycolor;
            }
            a {
                display: block;
                padding: 25px 30px;
            }
        }
        
    }
    .cta {
        text-align: center;
        padding: 100px 0;
        color: $white;
        background: {
            image: url('../img/page-1_slide1.jpg');
            size: cover;
            position: center;
        }
        h2 {
            font-size: 2em;
            text-transform: uppercase;
        }
    }
    &.promos {
        @include content(5vw);
        @extend %clearfix;
        background-color: $litegray;
        div {
            width: 25%;
            float: left;
        }
    }
    &.features {
        @include content(5vw);
        text-align: center;
        @extend %clearfix;
        div {
            width: 33%;
            float: left;
        }
        i {
            font-size: 3em;
            width: 3em;
            height: 3em;
            line-height: 3em;
            border: 1px solid $compcolor;
            border-radius: 50%;
            color: $compcolor;
            margin-bottom: 40px;
        }
    }
    &.about{
        @include content(5vw);
        @extend %clearfix;
        div:first-child{
            width:33%;
            float:left;
        }
        div:last-child{
            width:66%;
            float:left;
        }
    }
    &.fixed1{
        text-align: center;
        color: $white;
        padding: 150px 0;
        background: {
            image: url("../img/parallax1-1.jpg");
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1{
           font-size: 2em;
           font-weight: 100;
        }
    }
    &.do{
        @extend %clearfix;
        @include content(5vw);
        h1{
            color: $keycolor;
            font-size: 4em;
            text-align: center;
        }
        div{
            box-sizing: border-box;
            width: 33%;
            float: left;
            padding: 5%;
        }
        img{
            width: 100%;
            height: auto;
        }    
    }
    &.products{
        @include content(5vw);
        @extend %clearfix;
        background-color: $litegray;
        div:first-child{
            width:33%;
            float:left;
        }
        div:last-child{
            width:66%;
            float:left;
        }
        h3{
            text-transform: uppercase;
            font-size: 2em;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    &.fixed2{
        text-align: center;
        color: $white;
        padding: 150px 0;
        background: {
            image: url("../img/parallax1.jpg");
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1{
           font-size: 2em;
           font-weight: 100;
        }
    }
    &.news{
        @extend %clearfix;
        @include content(5vw);
        h1{
            color: $keycolor;
            font-size: 4em;
            text-align: center;
        }
        div{
            box-sizing: border-box;
            width: 33%;
            float: left;
            padding: 5%;
        }
        img{
            width: 100%;
            height: auto;
        }    
    }
    &.hovers {
            @extend %clearfix;
             div{
                width: (100% / 7);
                height: (100vw / 7);
                float: left;
                background: {
                    size: 130%;
                    position: center;

                }
                &:hover {
                    //transform: scale(1.2);
                    background-size: 150%;
                }
                transition: background-size 200ms ease-in-out;
                overflow: hidden;
            }
            div:nth-child(1){
                background-image: url("../img/page-1_img8.jpg");
            }
            div:nth-child(2){
                background-image: url("../img/page-1_img9.jpg");
            }  
            div:nth-child(3){
                background-image: url("../img/page-1_img10.jpg");
            }  
            div:nth-child(4){
                background-image: url("../img/page-1_img11.jpg");
            }  
            div:nth-child(5){
                background-image: url("../img/page-1_img12.jpg");
            }  
            div:nth-child(6){
                background-image: url("../img/page-1_img8.jpg");
            }  
            div:nth-child(7){
                background-image: url("../img/page-1_img9.jpg");
            }
        }
}

.flex {
    .utilnav {
        display: flex;
        h1 {
            margin-right: auto;
            color: green;
            margin-bottom: 0;
        }
        ul {
            display: flex;
        }
        li {
            display: inline-flex;
            i {
                margin: 0 10px;
                font-size: 2em;
                color: $compcolor;
            }
        }
    }
    nav {
        background-color: $black;
        color: $white;
        ul {
            width: 100%;
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            li {
                text-align: center;
                font-size: 1.1em;
                font-weight: 100;
                
                text-transform: uppercase;
                &:hover {
                    background-color: $keycolor;
                }
                a {
                    display: block;
                    padding: 25px 30px;
                }
            }
        }
    }
    .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 25vw;
        color: $white;
        background: {
            image: url('../img/page-1_slide1.jpg');
            size: cover;
            position: center;
        }
        h2 {
            font-size: 2em;
            text-transform: uppercase;
        }
    }
    &.promos {
        @include content(0);
        display: flex;
        justify-content: center;
        div {
            width: 20%;
        }
    }
    &.features {
        @include content(0);
        text-align: center;
        display: flex;
        justify-content: center;
        div {
            width: 30%;
        }
        i {
            font-size: 3em;
            width: 3em;
            height: 3em;
            line-height: 3em;
            border: 1px solid $compcolor;
            border-radius: 50%;
            color: $compcolor;
            margin-bottom: 40px;
            //display: inline-flex;
            //justify-content: center;
            //align-items: center;
        }
    }
    &.about{
        @include content(5vw);
        @extend %clearfix;
        display: flex;
        div:first-child{
            flex: 1;
        }
        div:last-child{
            flex: 2;
        }
    }
    &.fixed1{
        text-align: center;
        color: $white;
        padding: 150px 0;
        background: {
            image: url("../img/parallax1-1.jpg");
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1{
           font-size: 2em;
           font-weight: 100;
        }
    }
    &.do{
        span{
            display: flex;
        }
        @include content(5vw);
        h1{
            color: $keycolor;
            font-size: 4em;
            text-align: center;
        }
        div{
            padding: 5%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    &.products{
        display: flex;
        @include content(5vw);
        background-color: $litegray;
        div:first-child{
            flex: 1;
        }
        div:last-child{
            flex: 2;
        }
        h3{
            text-transform: uppercase;
            font-size: 2em;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    &.fixed2{
        text-align: center;
        color: $white;
        padding: 150px 0;
        background: {
            image: url("../img/parallax1.jpg");
            size: cover;
            repeat: no-repeat;
            attachment: fixed;
        }
        h1{
           font-size: 2em;
           font-weight: 100;
        }
    }
    &.news{
        span{
            display: flex;
        }
        @include content(5vw);
        h1{
            color: $keycolor;
            font-size: 4em;
            text-align: center;
        }
        div{
            padding: 5%;
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    &.hovers {
            display: flex;
             div{
                flex: 1; 
                height: (100vw / 7);
                background: {
                    size: 130%;
                    position: center;

                }
                &:hover {
                    //transform: scale(1.2);
                    background-size: 150%;
                }
                transition: background-size 200ms ease-in-out;
                overflow: hidden;
            }
            div:nth-child(1){
                background-image: url("../img/page-1_img8.jpg");
            }
            div:nth-child(2){
                background-image: url("../img/page-1_img9.jpg");
            }  
            div:nth-child(3){
                background-image: url("../img/page-1_img10.jpg");
            }  
            div:nth-child(4){
                background-image: url("../img/page-1_img11.jpg");
            }  
            div:nth-child(5){
                background-image: url("../img/page-1_img12.jpg");
            }  
            div:nth-child(6){
                background-image: url("../img/page-1_img8.jpg");
            }  
            div:nth-child(7){
                background-image: url("../img/page-1_img9.jpg");
            }
        }
}