@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


$darkgray: hsla(222, 10%, 33%, 1);
$midgray: lighten($darkgray, 10);
$litegray: lighten($darkgray, 50);
$keycolor: hsla(161, 100%, 35%, 1);
$darkblue: hsla(209, 53%, 52%, 1);
$liteblue: lighten($darkblue, 10);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(223, 13%, 27%, 1);

%clearfix{
	&::before, &::after{
		content: "";
		display: block;
		clear: both;
	}
}

/*global styles start*/
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	margin: 0;
}
ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
	margin-top: 0;
}
h1{
	margin: 0;
	font-weight: 300;
}
h3{
	display: inline-block;
	margin-left: 10px;
}

a{
	text-decoration: none;
	color: inherit;
}
.btn{
	display: inline-block;
	padding: 15px 30px;
	border-radius: 5px;
	font-weight: 700;
	&.btn-info {
		background-color: $midgray;
	}
	&.btn-signup {
		background-color: $keycolor;
	}
}
/*global styles end */

 header span, header span::before, header span::after,
 #silos li::before, #features li:before{
	display: inline-block;
	font:normal normal normal 14px/1 fontAwesome;
	font-size: inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}


/*header styles start */
header{
	background-color: $darkgray;
	color: $white;
	nav{
		margin-bottom: 100px;
		@extend %clearfix;
		h1{
			float: left;
			line-height: 2em;
		}
		ul{
			float: right;
		}
		li{
			display: inline-block;
			line-height: 2em;
			a{
				color: transparent($white, .5);
				transition: color 200ms ease-in-out;
				&:hover {
					color: $white;
				}
			}

		}
	}
	#cta {
		text-align: center;
		@extend %clearfix;
		div {
			width: 50%;
			float: left;
			a {
				margin: 50px 10px;
			}
			&:first-of-type{
			  a{
				 float: right;
			   }
			}
			&:last-of-type{
				a{
					float: left;
				}
			}
		}
	}
	#browser{
		width: 60%;
		height: 25vw;
		margin: 0 auto;
		background: {
			image: url("../img/banner.jpg");
			position: center 5vw;
			size: cover;
			repeat: no-repeat;
		}
		div{
			width: 100%;
			height: 5vw;
			background-color: $litegray;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			
			span:nth-child(1),
			span:nth-child(2),
			span:nth-child(4){
				width: 5vw;
				height: 100%;
				float: left;
				line-height: 5vw;
				position: relative;
			}
			span:nth-child(1){
				margin-left: 1vw;
				width: 4vw;
			}
			span:nth-child(4){
				float: right;
			}
			span:nth-child(1)::before,
			span:nth-child(1)::after,
			span:nth-child(2)::before {
				content: '\f111';
				font-size: 2vw;
				position: absolute;
				top: 50%;
				transform: translate3d(0, -50%, 0);
			}
			span:nth-child(1)::before{
				left: 0;
			}
			span:nth-child(1)::after{
				left: 2vw;
			}
			span:nth-child(2)::after{
				position: absolute;
				right: 0;
			}
			span:nth-child(2)::after {
				content: '\f015';
				font-size: 3vw;
				line-height: 5vw;
			}
			span:nth-child(3){
				background-color: $white;
				height: 3.5vw;
				width: calc(100% - 15vw);
				margin: .75vw 0;
				position: relative;
			}
			span:nth-child(3)::before{
				content: "http://untitledapp.tld";
				position: absolute;
				top: 0;
				left: 0;
				color: $black;
				font-size: 2vw; 
				line-height: 3.5vw;
				text-indent: 1vw;
			}
			span:nth-child(4)::before{
				content: "\f053";
			}
			span:nth-child(4)::after{
				content: "\f054";
			}
		}
	}
}
/* header styles end */


/* silos style start*/
#silos{
	background-color: $keycolor;
	color: $white;
	padding: 75px 0;
	ul{
		@extend %clearfix;
	}
	li{
		width: 33.3333%;
		float: left;
	}
	li:nth-child(1)::before {
		content: "\f121";
	}	
	li:nth-child(2)::before {
		content: "\f219";
	}	
	li:nth-child(3)::before {
		content: "\f10b";
	}
}
@media screen and (max-width: 766px){
	#silos {
		li {
			float: none;
			width: 100%;
			text-align: center;
			margin-bottom: 75px;
		}
		h3{
			display: block;
		}
	}
}
/* silos style end*/

/*testimonials styles start */
#testimonials {
	color: $white;
	background-color: $liteblue;
	padding: 75px 0;
	div {
		@extend %clearfix;
		&:first-child{
			img {
				float: left;
			}
		}
		&:last-child{
			text-align: right;
			img {
				float: right;
			}
		}
	}
	hr{
		width: 100%;
		clear: both;
		margin: 100px 0;
	}
	img {
		border-radius: 50%;
		width: 35vw;
		height: 35vw;
		margin: 0 50px;
		}
}

/*testimonials styles end */

/*features styles start */
#features {
	color: $white;
	background-color: $darkblue;
	padding: 75px 0;
	@extend %clearfix;
	div {
		width: 25%;
		float: left;
		&:first-child{
			width: 50%;
		}
	}
	li::before{
		content: "\f00c";
		margin-right: 10px;
		color: $keycolor;
	}
}
@media screen and (max-width: 766px){
	#features {
		div {
			width: 100% !important;
			float: none;
			margin-bottom: 75px;
			text-align: center;
		}
	}
}
/*features styles end */


/* prices styles start */
#prices {
	background-color: $litegray;
	padding: 75px 0;
	text-align: center;
	ul{
		width: 30%;
		margin: 75px 5% 75px 0;
		float: left;
		background-color: $white;
		border-radius: 8px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	li{
		padding: 20px 0;
		border-bottom: 1px solid $litegray;
		&.sol {
			color: transparent($black, .50);
		}
	}
}
@media screen and (max-width: 766px){
	#prices {
		ul{
			width: 100%;
			float: none;
		}
	}
}
/* prices styles end */

/* footer styles start */
footer {
	background-color: $darkgray;
	color: $white;
	padding: 75px 0;
	div{
		width: 30%;
		float: left;
		margin: 0 5% 75px 0;
		&:last-of-type{
			margin-right: 0;
		}
	}
	> p {
	   width: 100%;
	   clear: both;
	   margin: 50px 0;

	}
}
@media screen and (max-width: 766px){
	footer{
		div{
			width: 100%;
			float: none;
		}
	}
}
/* footer styles end */


/* rightsidebar styles start */


/* rightsidebar styles end */