div.bg{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	-webkit-filter:blur(5px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url("https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c");
}
a{
	background-image:linear-gradient(to top, hsla(180, 30%, 60%, 1),hsla(180, 30%, 60%, .5));
	color: white;
	text-decoration: none;
	font-size: 150%;
	width: 200px;
	display: inline-block;
	padding: 10px 20px;
	margin: 50px 10px 20px;
	text-align: center;
	font-family: helvetica,arial,sans-serif;
	border-radius: 4px;
	border: 1px solid hsla(180, 30%, 50%, 1);
	text-transform: uppercase;
	float: right;
	transition: all 50ms ease-in-out;
	text-shadow: 0 -1px 1px hsla(180, 30%, 50%, 1), 0 1px 1px white;
	box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .25);
}
a:hover{
	background-color: hsla(180, 30%, 60%, .25);
	/*color: hsla(180, 30%, 60%, 1);*/
}
a:nth-of-type(2){
	background-image:linear-gradient(to top, hsla(0, 30%, 60%, 1), hsla(0, 30%, 60%, .5));
	border color: hsla(0, 30%, 50%, 1);
	text-shadow: 0 -1px 1px hsla(0, 30%, 50%, 1), 0 1px 1px white;

}
a:nth-of-type(2):hover{
	background-color: hsla(0, 30%, 60%, .25);
	/*color: hsla(0, 30%, 60%, 1);*/
}
form{
	width: 550px;
	background-color: hsla(0, 0%, 100%, .75);
	padding: 20px;
	margin: 25% auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url("https://images.unsplash.com/photo-1415931633537-351070d20b81?q=80&fm=jpg&s=fb26af809d5b68ba0d269eaf41f7816c");
}
input{
	display: block;
	padding: 10px;
	font-size: 200%;
	margin-bottom: 10px;
	width: 100%;
	border-radius: 4px;
	background-color: white;
	box-sizing: border-box;
}