@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-Bold.svg#9a9d3d308d13f8d7d5478349c2a1e852') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-ExtraBold.svg#fddfc0ef7578636bfa44cd869b0509bc') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-ExtraLight.svg#cd5d875cb5f11921f494efb112a64b13') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-Light.svg#9c7f481d4f4666f1bb2d72d6c61c28a0') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-Medium.svg#747833908d951da8f0537dd1cd4e4cad') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-Regular.svg#cd994f332bb59ccc41f18b4e00113e79') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Dosis-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Dosis-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Dosis-SemiBold.svg#2aa0a72ccd43b160650c91a864fd84b5') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Black';
  src: url('../fonts/Montserrat-Black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Black.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Black.svg#32d2de489ae4ccadea255227c4d7ddfd') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Bold.svg#2eb9a020d90588d099da01ff1a93c338') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Extra Bold';
  src: url('../fonts/Montserrat-ExtraBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-ExtraBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-ExtraBold.svg#99b6a422cb1af5a219cfdb69674c45f5') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Hairline';
  src: url('../fonts/Montserrat-Hairline.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Hairline.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-Hairline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Hairline.svg#1ec624975f362ffc7a87d22144317904') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat Light';
  src: url('../fonts/Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Light.svg#c152625b71562a7bb7b752375273b2d5') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-Regular.svg#95d90f2cd2aa64bdfee0e9f34c516e71') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Montserrat Semi Bold';
  src: url('../fonts/Montserrat-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-SemiBold.svg#1ff0c6908268c6b66905273d3627c4c9') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Montserrat Ultra Light';
  src: url('../fonts/Montserrat-UltraLight.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Montserrat-UltraLight.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Montserrat-UltraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Montserrat-UltraLight.svg#565d3dca80d751a268e2c36476c681bd') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  200;
}

