body{
	margin: 0;
	font-family: helvetica, arial, sans-serif;
}
ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}
h1{
	margin: 0;
	float: left;
}
li{
	display: inline-block;
	margin: 0 5px;
}
nav{
	background-color: #303030;
	color: #f0f0f0;
	padding: 0 20px;
}
a{
	color: inherit;
	text-decoration: none;
}
nav:after{
	content: "";
	display: block;
	clear: both;
}
ul{
	float: right;
}
li.dropdown{
	background-color: pink;
	position: relative;
}
ul ul{
	background-color: #303030;
	display: none;
	position: absolute;
	top: 100%;
	border-top: 10px solid #303030;
}
li.dropdown:hover ul{
	display: block;
}
ul ul li{
	display: block;
}