@import "variables";
@import "reset";
// @import "fontawesome";

/* sass goes here */


header {
	height: 35vw;
	background:{
		image: url("../img/guardians.jpg");
		size: cover;
		position: center;
	} 
	nav {
		position: fixed;
		width: 100%;
		background-color: white;
	}
	ul{
		display: flex;
		justify-content: space-between;
	}
}

main{
	div:first-of-type {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		section{
			width: 33.3333%;
			span{
				display: block;
				width: 35%;
				height: (33vw/3);
				background-color: pink;
				border-radius: 50%;
				margin: 0 auto;
			}
			a{
				background-color: blue;
				padding: 10px 15px;
				border-radius: 5%;
				color: white;
			}
		}
		section[id^='main-']{
			width: 100%;
			span{
				height: 33vw;
				float: left;
			}	
		}
	}
}


$chars: bereet carina collector cosmo drax gamora garthan-saal groot howard-the-duck irani-rael korath-thak kraglin-obfonteri nebula peter-quill rhomann-dey rocket-racoon ronan yondu;
@each $char in $chars {
	$i: index($chars, $char);
	section:nth-child(#{$i}) {
		span {
			background-image: url('../img/bio-#{$char}.jpg'); 
		}
	}
}
span {
	background: {
		position: center;
		size: cover;

	}
	
}