.clock{
	border-radius: 50%;
	border: 10px solid;
	border-color: gold;
	height: 340px;
	width: 340px;
	margin: 100px;
	position: relative;
}
.clock::before{
	content: "";
	display: block;
	position: absolute;
	border: 5px solid hsla(0, 0%, 9%, 1);
	width: 95px;
	border-radius: 5px;
	left: 134px;
	top: 126px;
	transform: rotate(110deg);
}
.clock::after{
	content: "";
	display: block;
	position: absolute;
	border: 5px solid hsla(0, 0%, 9%, 1);
	border-radius: 5px;
	width: 150px;
	left: 15px;
	top: 170px;
}
.bubble{
	background-color: hsla(190, 50%, 90%, 1);
	padding: 40px;
	margin: 20px;
	border-radius: 200px;
	font-size: 24px;
	text-align: center;
	font-family: sans-serif;
	position: relative;
}
.bubble::before{
	content: "";
	display: block;
	/*width: 10px;*/
	/*height: 10px;*/
	/*background-color: red;*/
	border-width: 0px 30px 30px 30px;
	border-style: solid;
	border-color: transparent hsla(190, 50%, 90%, 1) transparent transparent;
	position: absolute;
	top:100%;
	left: 75%;
}
.phone{
	width: 300px;
	height: 595px;
	border: 2px solid hsla(0, 0%, 9%, 1);
	border-radius: 20px;
	position: relative;
}
.phone::before{
	content: "";
	display: block;
	width: 50px;
	height: 4px;
	border: 2px solid hsla(0, 0%, 9%, 1);
	border-radius: 4px;
	position: absolute;
	left: calc(50% - 29px);
	top: 20px;
}
.phone::after{
	content: "";
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid hsla(0, 0%, 9%, 1);
	position: absolute;
	left: calc(50% - 20px);
	bottom: 5px;
}	
.screen {
	width: 280px;
	height: 495px;
	background-color: hsla(0, 0%, 9%, 1);
	background-image: url(https://slack-imgs.com/?url=http%3A%2F%2F3.bp.blogspot.com%2F-HjPyg6f3Hcc%2FUPXBT3TV5PI%2FAAAAAAAABe4%2FaiqDv75CpF4%2Fs1600%2FSamsung%2BGalaxy%2BNexus%2BScreenshots%2B-%2B02%2B-%2B02%2B-%2BDaily.png&width=281&height=500);
	background-size: 100%;
	margin: 50px 10px;
}
ul{
	background-color: hsla(0, 30%, 90%, 1);
}
ul::before,
ul::after{
	content: "";
	display: block;
	clear: both;
	height: 1px;
	background-color: red;
}
ul li{
	background-color: hsla(300, 30%, 70%, 1);
	float: left;
	list-style: none;
}
