body{
	font-family: 'Raleway', helvetica, sans-serif;
	position: relative;
}
header h1{
	display: inline-block;
	text-transform: uppercase;
	font-size: 15px;
	margin: 24px;

}

img{
	float: left;
}
nav{
	float: right;
	margin: 2px;
    font-size: 16px;
}
nav::before,nav::after{
	content: "";
	display: block;
	clear: both;
}
li a{
	text-decoration: none;
	text-transform: uppercase;
	color: gray; 
}
.button{
	border: 10px solid;
	border-color: white;
	color: gray;
	border-radius: 35px;
	width: 20px;
	height: 2px;
	background-color: white;
}
ul li {
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 10px;
}
section{
	text-align: center;
	margin: 80px;
	text-transform: uppercase; 
}
section p{
	margin: 40px;
	display: inline-block;
	color: white;
	font-size: 20px;
}
section a{
	padding: 16px;
    border: 5px solid hsl(195, 64%, 53%);
    background-color: hsl(195, 64%, 53%);
    border-radius: 50px;
    display: block;
    color: hsl(0, 100%, 100%);
    text-decoration: none;
    width: 222px;
    margin-left: 249px;
    height: 7px;
}
h2{
	font-size: 50px;

}
header{
	background-image: url("../img/transit/img/bokeh_car_lights_bg.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
h3{
	font-size: 40px;
	margin: -25px;
	color: hsla(0, 0%, 28%, 1);
	text-transform: lowercase;
}
.info p{
	color: hsla(0, 0%, 58%, 1);
}
.one{
	border: 1px solid;
	width: 250px;
    height: 340px;
    margin: 50px;
    margin-left: 0px;
}
i{
	border: 1px solid hsl(195, 64%, 53%);
	background-color: hsl(195, 64%, 53%);
	border-radius: 50%;
	width: 100px;
    height: 100px;
    margin: 58px;
    margin-left: -49px;
}
.fa-cloud:before {
    content: "\f0c2";
    padding-bottom: 35px;
    color: white;
    margin: 35px;
    margin-left: -15px;
}
h4{
}
.one p{

}