h1{
	display: inline;
	text-transform: uppercase;
	font-size: 15px;
	margin: 50px;
}
body{
	font-family: 'Raleway', helvetica, sans-serif;
}
img{
	float: left;
}
nav{
	float: right;
}
nav::before,nav::after{
	content: "";
	display: block;
	clear: both;
}
li a{
	text-decoration: none;
	text-transform: uppercase;
	color: gray; 
}
.button{
	border: 10px solid;
	border-color: white;
	color: gray;
	border-radius: 35%;
	width: 20px;
	height: 2px;
	background-color: white;
}
ul li {
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 10px;
}
section{
	text-align: center;
	margin: 110px;
	text-transform: uppercase; 
}
section p{
	margin: 75px;
	display: inline-block;
	color: hsla(209, 12%, 16%, 1);
}
section a{
	padding: 6px;
	border: 11px solid hsla(195, 64%, 53%, 1);
	background-color: hsla(195, 64%, 53%, 1);
	border-radius: 46%;
	color: white;
	text-decoration: none;
}
h2{
	font-size: 50px;

}
header{
	background-image: url("../img/transit/img/bokeh_car_lights_bg.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}
h3{
	font-size: 30px;
	margin: -50px;
}
