body {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

ul li:nth-child(1) {
  background-color: #c27070;
}
ul li:nth-child(1)::before {
  content: "lion";
}

ul li:nth-child(2) {
  background-color: #c2a170;
}
ul li:nth-child(2)::before {
  content: "monkey";
}

ul li:nth-child(3) {
  background-color: #b1c270;
}
ul li:nth-child(3)::before {
  content: "pig";
}

ul li:nth-child(4) {
  background-color: #81c270;
}
ul li:nth-child(4)::before {
  content: "dog";
}

ul li:nth-child(5) {
  background-color: #70c291;
}
ul li:nth-child(5)::before {
  content: "cat";
}

ul li:nth-child(6) {
  background-color: #70c2c2;
}
ul li:nth-child(6)::before {
  content: "gorila";
}

ul li:nth-child(7) {
  background-color: #7091c2;
}
ul li:nth-child(7)::before {
  content: "panther";
}

ul li:nth-child(8) {
  background-color: #8170c2;
}
ul li:nth-child(8)::before {
  content: "zebra";
}

ul li:nth-child(9) {
  background-color: #b170c2;
}
ul li:nth-child(9)::before {
  content: "cow";
}

ul li:nth-child(10) {
  background-color: #c270a1;
}
ul li:nth-child(10)::before {
  content: "fox";
}

ol li:nth-child(1) {
  font-size: 1em;
}
ol li:nth-child(1)::before {
  content: "1";
}

ol li:nth-child(2) {
  font-size: 2em;
}
ol li:nth-child(2)::before {
  content: "2";
}

ol li:nth-child(3) {
  font-size: 3em;
}
ol li:nth-child(3)::before {
  content: "3";
}

ol li:nth-child(4) {
  font-size: 4em;
}
ol li:nth-child(4)::before {
  content: "4";
}

section:nth-child(1)::before {
  content: "starlord";
}

section:nth-child(2)::before {
  content: "gamora";
}

section:nth-child(3)::before {
  content: "drax";
}

section:nth-child(4)::before {
  content: "rocket";
}

section:nth-child(5)::before {
  content: "groot";
}

section:nth-child(6)::before {
  content: "ronan";
}

section:nth-child(7)::before {
  content: "nebula";
}

section:nth-child(8)::before {
  content: "korath";
}

section::before {
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
section::before font {
  size: 2em;
  weight: 400;
  family: serif;
}

/* sass goes here */
nav {
  color: white;
  padding-top: 10vw;
}
nav background {
  image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/guardians.jpg");
  position: center;
  size: cover;
}
nav h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 10vw;
}
nav ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
nav ul a {
  display: block;
  padding: 20px;
}

main div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
